# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
main.spec
build/vi$tego/xref-vi$tego.html
build/vi$tego/xref-vi$tego.html
build/vi$tego/warn-vi$tego.txt
build/vi$tego/vi$tego.pkg
build/vi$tego/PYZ-00.toc
build/vi$tego/PKG-00.toc
build/vi$tego/PYZ-00.pyz
build/vi$tego/localpycs/struct.pyc
build/vi$tego/xref-vi$tego.html
build/vi$tego/warn-vi$tego.txt
build/vi$tego/vi$tego.pkg
build/vi$tego/PYZ-00.toc
build/vi$tego/PKG-00.toc
build/vi$tego/PYZ-00.pyz
build/vi$tego/localpycs/struct.pyc
build/Steganography App/Analysis-00.toc
build/Steganography App/localpycs/pyimod01_archive.pyc
build/Steganography App/base_library.zip
build/Steganography App/localpycs/pyimod02_importers.pyc
build/Steganography App/localpycs/pyimod03_ctypes.pyc
build/Steganography App/localpycs/pyimod04_pywin32.pyc
build/Steganography App/warn-Steganography App.txt
build/Steganography App/localpycs/struct.pyc
build/Steganography App/xref-Steganography App.html
build/vi$tego/xref-vi$tego.html
build/vi$tego/warn-vi$tego.txt
build/vi$tego/vi$tego.pkg
build/vi$tego/PYZ-00.toc
build/vi$tego/PKG-00.toc
build/vi$tego/PYZ-00.pyz
build/vi$tego/localpycs/struct.pyc
build/Steganography App/PYZ-00.pyz
build/Steganography App/PYZ-00.toc
build/Steganography App/Steganography App.pkg
build/vi$tego/Analysis-00.toc
build/vi$tego/base_library.zip
build/vi$tego/EXE-00.toc
build/vi$tego/generated-45c03ae1ac267401374557842d252b901d250edc819187a251f3299fddca5c15.ico
build/vi$tego/localpycs/pyimod01_archive.pyc
build/vi$tego/localpycs/pyimod02_importers.pyc
build/vi$tego/xref-vi$tego.html
build/vi$tego/warn-vi$tego.txt
build/vi$tego/vi$tego.pkg
build/vi$tego/PYZ-00.toc
build/vi$tego/PKG-00.toc
build/vi$tego/PYZ-00.pyz
build/vi$tego/localpycs/struct.pyc
build/vi$tego/Analysis-00.toc
build/vi$tego/base_library.zip
build/vi$tego/EXE-00.toc
build/vi$tego/generated-45c03ae1ac267401374557842d252b901d250edc819187a251f3299fddca5c15.ico
build/vi$tego/localpycs/pyimod01_archive.pyc
build/vi$tego/localpycs/pyimod02_importers.pyc
build/vi$tego/xref-vi$tego.html
build/vi$tego/warn-vi$tego.txt
build/vi$tego/vi$tego.pkg
build/vi$tego/PYZ-00.toc
build/vi$tego/PKG-00.toc
build/vi$tego/PYZ-00.pyz
build/vi$tego/localpycs/struct.pyc
build/vi$tego/Analysis-00.toc
build/vi$tego/base_library.zip
build/vi$tego/EXE-00.toc
build/vi$tego/generated-45c03ae1ac267401374557842d252b901d250edc819187a251f3299fddca5c15.ico
build/vi$tego/localpycs/pyimod01_archive.pyc
build/vi$tego/localpycs/pyimod02_importers.pyc
build/vi$tego/xref-vi$tego.html
build/vi$tego/warn-vi$tego.txt
build/vi$tego/vi$tego.pkg
build/vi$tego/PYZ-00.toc
build/vi$tego/PKG-00.toc
build/vi$tego/PYZ-00.pyz
build/vi$tego/localpycs/struct.pyc
build/vi$tego/Analysis-00.toc
build/vi$tego/base_library.zip
build/vi$tego/EXE-00.toc
build/vi$tego/generated-45c03ae1ac267401374557842d252b901d250edc819187a251f3299fddca5c15.ico
build/vi$tego/localpycs/pyimod01_archive.pyc
build/vi$tego/localpycs/pyimod02_importers.pyc
